allow hal_fingerprint vcs_device:chr_file  { ioctl open read write };
allow hal_fingerprint firmware_file:file { getattr open read };
allow hal_fingerprint tee_device:chr_file { ioctl open };
allow hal_fingerprint vcs_data_file:file { getattr lock open read write };