allow hal_fingerprint vcs_device:chr_file ioctl;
allow hal_fingerprint firmware_file:file { getattr open read };
allow hal_fingerprint tee_device:chr_file { ioctl open };