type macloader, domain, device_domain_deprecated;
type macloader_exec, exec_type, file_type;
init_daemon_domain(macloader)

type_transition macloader persist_data_file:file persist_file;

allow macloader efs_file:dir search;
allow macloader wifi_efs_file:dir search;
allow macloader wifi_efs_file:file rw_file_perms;
#allow macloader system_data_file:file { open setattr write };
allow macloader sysfs:file { open write };

allow macloader persist_data_file:dir rw_dir_perms;
allow macloader persist_file:dir rw_dir_perms;
allow macloader persist_file:file { getattr create w_file_perms rename unlink };
allow macloader macloader:capability { chown dac_override fowner };
