# Allow writes to kmsg
allow mdm_helper kmsg_device:chr_file w_file_perms;

allow mdm_helper shell_exec:file { execute open read };

allow mdm_helper sysfs:capability dac_override;
allow mdm_helper sysfs:file read;
allow mdm_helper sysfs:dir { open read };

allow mdm_helper diag_device:chr_file read;
allow mdm_helper diag_device:chr_file open;
