allow toolbox rmnet_mux_prop:file { getattr open read };
allow toolbox init:fifo_file { getattr open read write };
allow toolbox system_prop:property_service { set };